@use '~bootstrap/scss/bootstrap';

body {
  padding-top: 56px;

}

.btn-new {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    margin: 10px;
}

.table thead th, .table td {
    vertical-align: middle;
    border-bottom: 2px solid #dee2e6;
    text-align: center !important;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    table-layout: fixed;
}

.collection_radio_buttons {
    flex-direction: column;
    display: inline-flex;
    text-align: center;
}