<div class="text-page">
<div class="form-group">
  <%# rowで設定すると真ん中に設定されるcol-md-(数字)でサイズが変わる（22~23セット）%>
      <div class="row">
      <div class="col-md-2 mx-auto">
 <h1>更新</h1>
 <%= render "form", button_value: "更新" %>
</div>
</div>
</div>