<div class="text-page">
<div class="form-group">
  <%# rowで設定すると真ん中に設定されるcol-md-(数字)でサイズが変わる（22~23セット）%>
      <div class="row">
      <div class="col-md-2 mx-auto">
  <h1>商品追加</h1>
   <div class="md-3 mx-auto">
  <%= render "form", button_value: "投稿" %>
   </div>
</div>
</div>
</div>